html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font: inherit;
    vertical-align: middle;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

a:link,a:visited,a:active,a:hover{text-decoration:none;color:inherit;}
.fx{
    display: -webkit-box;  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;     /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;  /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex;         /* 新版本语法: Opera 12.1, Firefox 22+ */
}
.fx-row{flex-flow: row wrap;}
.fx-rown{flex-flow: row nowrap;}
.fx-column{flex-flow: column;}

.j-start{justify-content: flex-start;}
.j-end{justify-content: flex-end;}
.j-center{justify-content: center;}
.j-between{justify-content: space-between;}
.j-around{justify-content: space-around;}
/*flex-start | flex-end | center | space-between | space-around*/
.a-start{align-items: flex-start;}
.a-end{align-items: flex-end;}
.a-center{align-items: center;}
.a-baseline{align-items: baseline;}
.a-stretch{align-items: stretch;}
/*flex-start | flex-end | center | baseline | stretch;*/
.transitionWH{
    transition:width .4s;
    -moz-transition:width .4s; /* Firefox 4 */
    -webkit-transition:width .4s; /* Safari and Chrome */
    -o-transition:width .4s,; /* Opera */
}
.buttons+.buttons{
    margin-left:5px;
}  
.scrollbar::-webkit-scrollbar
  {
      width: 0px;
      height: 0px;
      background-color: #Fff;
      cursor:pointer;
  }
   
  /*定义滚动条轨道 内阴影+圆角*/
  .scrollbar::-webkit-scrollbar-track
  {
      border-radius: 0px;
      background-color: #Fff;
  }
   
  /*定义滑块 内阴影+圆角*/
  .scrollbar::-webkit-scrollbar-thumb
  {
      border-radius: 0px;
      background-color: #ccc;
  }
 .scrollnone::-webkit-scrollbar {display:none}


 .el-table .cell{
     line-height: 16px !important;
 }
 .el-form-item{
        margin-bottom: 15px !important;
  }
 
 
 .el-menu-item.is-active,.el-pager li.active {
    color:#669934 !important;
}

 